<div class="grid md:grid-rows-2 md:grid-cols-2 lg:grid-cols-3 grid-cols-1 gap-4">

    <% if @cart.empty? %>
        <h3> No Items in Shopping Cart</h3>
    <% else %>
        <% @cart.each do |item| %>
        <div class="border border-stone-700 p-5 rounded-xl min-w-[150px] max-w-[300px] m-4">
            <h4 class="font-semibold"><%= Product.find(item['id']).brand %></h4>
            <h3 class="font-semibold mt-2"><%= Product.find(item['id']).name %></h3>
            <img src="<%= Product.find(item['id']).image_url %>" alt="<%= Product.find(item['id']).name %>">
            <div>$<%= Product.find(item['id']).price %></div>
            <div class="text-red-700"><%= Product.find(item['id']).on_sale %></div>
            <div>In Stock: <%= Product.find(item['id']).inventory %></div>
            <div>SKU: <%= Product.find(item['id']).SKU %></div>
            <div>Category: <%= Product.find(item['id']).category.name %></div>
            <div>Quantity: <%= item['quantity'] %></div>
            <%= form_with(url: update_quantity_path) do |f| %>
                <%= f.hidden_field :id, value: item['id'] %>
                <%= f.number_field :quantity, min: 1 %>
                <div class="btn btn-gray"><%= f.submit 'Update Quantity' %></div>
            <% end %>
            <%= form_with(url: remove_path) do |f| %>
                <%= f.hidden_field :id, value: item['id'] %>
                <div class="btn btn-red"><%= f.submit 'Remove Product' %> </div>
            <% end %>
        </div>
        <% end %>
    <% end %>
</div>
