<h1>Past Orders</h1>
<h2 class="pb-8">Customer: <%=@customer[:first_name]%> <%=@customer[:last_name]%></h2>

<div class="py-4">
    <table class="table-auto w-full">
        <thead>
            <tr class="border border-collapse border-stone-600 bg-stone-600 text-white">
                <th>Orders</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            <% @customer.orders.each do | order |%>
            <tr class="border border-stone-600">
                <td class="p-2">
                    <div class="text-xs">Transaction number: <%= order[:transaction_number]%></div>
                    <div class="text-xs">Date Submitted <%= order[:date_submitted]%></div>
                    <div class="text-xs">Delivered: <%= order[:delivered] ? "Yes" : "No" %></div>
                    <div class="text-xs">Date Delivered: <%= order[:date_delivered] %></div>
                    <div class="text-xs">Total HST: <%= number_to_currency order[:totalHST]%></div>
                    <div class="text-xs">Total PST: <%= number_to_currency order[:totalPST]%></div>
                    <div class="text-xs">Total GST: <%= number_to_currency order[:totalGST]%></div>
                    <div class="text-xs">Shipping Cost: <%= number_to_currency order[:shipping_cost]%></div>
                    <div class="text-sm font-bold pt-2">Total Cost: <%= number_to_currency order[:total_cost]%></div>
                </td>
                <td class="grid">
                    <table class="table-auto w-full self-top">
                        <thead class="border border-collapse border-stone-500 bg-stone-600 text-white">
                            <th class="text-sm px-2">Name</th>
                            <th class="text-sm px-2">Quantity</th>
                            <th class="text-sm px-2">Price Per Item</th>
                            <th class="text-sm px-2">SubTotal</th>
                            <th class="text-sm px-2">HST</th>
                            <th class="text-sm px-2">PST</th>
                            <th class="text-sm px-2">GST</th>
                        </thead>
                        </tbody>
                            <% order.order_products.each do |product | %>
                            <tr class="border-b border-stone-600">
                                <td class="text-xs px-2"><%= product.product[:name] %></td>
                                <td class="text-xs px-2 text-center"><%= product[:quantity] %></td>
                                <td class="text-xs px-2 text-center"><%= number_to_currency product[:price_per_item] %></td>
                                <td class="text-xs px-2 text-center"><%= number_to_currency(product[:subtotal]) %></td>
                                <td class="text-xs px-2 text-center"><%= number_to_currency product[:HST] %></td>
                                <td class="text-xs px-2 text-center"><%= number_to_currency product[:PST] %></td>
                                <td class="text-xs px-2 text-center"><%= number_to_currency product[:GST] %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
